

{{ define "content" }}

  <!-- Φεστιβάλ -->
  <div class="notice mt-3">
    <p class="text-center"><strong>New Life Climbing Festival V2.0</strong></p>
    <p class="text-center"><strong>7 - 8 Μαϊου | 2022</strong></p>
    <p>Σκαρφαλώνουμε για ευχαρίστηση ή για ένα story στο instagram;
      H sport trad είναι μόδα και θα περάσει;  
      Πώς θα σκαρφαλώσω 7c+ χωρίς να κόψω τα πιτόγυρα;
      To crimp or not to crimp?</p>
    <p>Εαν ψάχνετε ακόμα απαντήσεις σε ερωτήματα όπως τα παραπάνω, μάλλον είμαστε οι πλέον ακατάλληλοι για να σας τις δώσουμε...
      Εαν αναρωτιέστε όμως...</p>
    <p>Τί κοινό έχουν η μπαϊντούσκα με το Coco Jumbo;
      Ένα μπουκάλι τσίπουρο με ένα ''σπασμένο'' Παγωτό; 
      Τί σημαίνουν εκφράσεις τύπου Ζαβαρακατρανέμια, Λελέβω σε και Το έδια τ' άλογο;
    </p>
    <p>Στη Δεύτερη Αναρριχητική Συνάντηση Νέας Ζωής στις 7 και 8 Μαϊου ίσως να σας βοηθήσουμε να βρείτε αυτό που ψάχνετε...
      Δουλίτσα πολύ έπεσε όλο τον χειμώνα: Παγκάκια φτιάξαμε (και τα ξαναχαλάσαμε), νέες διαδρομούλες ανοίξαμε (και άλλες, παλιές συντηρήσαμε), μέχρι και καινούριο site φτιάξαμε (βασικά ο Χάρης έκανε όλη τη δουλειά)..
      Και επειδή άλλο που δεν θέλουμε να σκαρφαλώνουμε, γύρω απ τις φωτιές ν' ανταμώνουμε και οι μπαγλαμάδες να βαράνε, ήρθε η ώρα να ανακοινώσουμε το New Life Climbing Festival Vol.2!</p>
    <p>Στο φεστιβαλ θα βρείτε: άφθονα μπυράκια και σουβλάκια, σετάκια και cruxάκια, ένα συγυρισμένο base camp με slack line, φωτιές και παραδοσιακά τραγουδάκια.
      Άντε, μπορεί να έχουμε και live σχηματάκι, τυχερούλιδες! 
      Εσείς να φέρετε: την καλή σας την παρέα! Και κανένα vegan κοκορετσάκι αν βρείτε, δε θα λέγαμε όχι...</p>
    <p>Καλό αντάμωμα!</p>
  </div>

  <h2>Πεδία</h2>
  {{ range $sector := .Sectors }}
    <h3><a href="/sector/{{ $sector.Name }}">{{ $sector.Name }}</a></h3>
    <p>{{ $sector.Description }}</p>
    <a href="/sector/{{ $sector.Name }}"><img alt="{{ $sector.Name }}" src="/static/img/{{ $sector.ImgUrl }}" loading="lazy" /></a>
  {{ end }}
{{ end }}