

{{ define "content" }}

  <!-- Φεστιβάλ -->
  <div class="notice mt-3">
    <p class="text-center"><strong>New Life Climbing Festival V3.0</strong></p>
    <p class="text-center"><strong>8 - 9 Οκτωβρίου | 2022</strong></p>
    <p>Έφτασε η ώρα για την επόμενη New Life αναρριχητική συνάντηση! Πάμε δυνατά για το τρίτο αντάμωμα Νέας Ζωής στις 8 - 9 Οκτώβρη.</p>
    <p>Φορέστε το καλύτερο σας χαμόγελο, τα κρανάκια σας και τα μποντριέ σας και ελάτε να σκαρφαλώσουμε παρέα στον Τρύπιο Βράχο, στο Middle Earth και στο Ρέμα! Αυτή τη φορά θα σας περιμένει ένα ακόμα καινούριο sector με νέες διαδρομές για να δοκιμάσετε!</p>
    <p>Φέρτε σκηνές, ψησταριές, μπύρες και ετοιμαστείτε για παρτάκι αφού πέσει ο ήλιος!</p>
    <p>Στα decks θα βρίσκονται διάσημοι DJs της περιοχής, το floor θα το γεμίσουν εκπληκτικοί χορευτές, τις ψησταριές θα αναλάβετε εσείς και τις μπύρες θα τις αναλάβουμε εμείς!</p>
    <p>Σας περιμένουμε να κάνουμε χαμό!</p>
  </div>

  <h2>Πεδία</h2>
  {{ range $sector := .Sectors }}
    <h3><a href="/sector/{{ $sector.Name }}">{{ $sector.Name }}</a></h3>
    <p>{{ $sector.Description }}</p>
    <a href="/sector/{{ $sector.Name }}"><img alt="{{ $sector.Name }}" src="/static/img/{{ $sector.ImgUrl }}" loading="lazy" /></a>
  {{ end }}
{{ end }}