

{{ define "content" }}
  {{ template "header" }}

  <h2>{{ .sector.Name }}</h2>
  <p>{{ .sector.Description }}</p>
    <img alt="A dog on an iPad" src="/static/img/{{ .sector.ImgUrl }}" />
    {{ if .sector.Routes }}

      <table>
        <thead>
          <tr>
            <th>Όνομα</th>
            <th>Μήκος</th>
            <th>Δυσκολία</th>
          </tr>
        </thead>
        <tbody>
          {{ range $route := .sector.Routes }}
            <tr>
              <td>{{ $route.Name }}</td>
              <td>{{ $route.Length }}</td>
              <td>{{ $route.Grade }}</td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    {{ end }}

  {{ template "footer" }}
{{ end }}